# use glob syntax.
syntax: glob

ide
.DS_Store
*.exp
*.pdb
*.ilk
*.obj
*.tmp
*.bak
*.bk
*.opt
*.plg
*.pyc
*.o
*.lo
*.a
*.la
*.lai
*.orig
*.cmake
Makefile
CMakeFiles
CMakeCache.txt
bin
.project
.cproject
lib/xmlrpc-c-1.06.35/**/blddir
lib/xmlrpc-c-1.06.35/**/srcdir
lib/xmlrpc-c-1.06.35/Makefile.config
lib/xmlrpc-c-1.06.35/config.log
lib/xmlrpc-c-1.06.35/config.status
lib/xmlrpc-c-1.06.35/include/xmlrpc-c/config.h
lib/xmlrpc-c-1.06.35/lib/curl_transport/version.h
lib/xmlrpc-c-1.06.35/lib/expat/gennmtab/gennmtab
lib/xmlrpc-c-1.06.35/lib/expat/xmltok/nametab.h
lib/xmlrpc-c-1.06.35/libtool
lib/xmlrpc-c-1.06.35/stamp-h
lib/xmlrpc-c-1.06.35/tools/xml-rpc-api2cpp/xml-rpc-api2cpp
lib/xmlrpc-c-1.06.35/tools/xmlrpc/config.h
lib/xmlrpc-c-1.06.35/tools/xmlrpc/xmlrpc
lib/xmlrpc-c-1.06.35/tools/xmlrpc_transport/config.h
lib/xmlrpc-c-1.06.35/tools/xmlrpc_transport/xmlrpc_transport
lib/xmlrpc-c-1.06.35/transport_config.h
lib/xmlrpc-c-1.06.35/xmlrpc-c-config
lib/xmlrpc-c-1.06.35/xmlrpc-c-config.test
lib/xmlrpc-c-1.06.35/xmlrpc_amconfig.h
lib/xmlrpc-c-1.06.35/xmlrpc_config.h
lib/xmlrpc-c-1.06.35/examples/auth_client
lib/xmlrpc-c-1.06.35/examples/config.h
lib/xmlrpc-c-1.06.35/examples/cpp/meerkat-app-list
lib/xmlrpc-c-1.06.35/examples/cpp/sample_add_client_complex
lib/xmlrpc-c-1.06.35/examples/cpp/xmlrpc_inetd_server
lib/xmlrpc-c-1.06.35/examples/cpp/xmlrpc_loop_server
lib/xmlrpc-c-1.06.35/examples/cpp/xmlrpc_sample_add_client
lib/xmlrpc-c-1.06.35/examples/cpp/xmlrpc_sample_add_server
lib/xmlrpc-c-1.06.35/examples/gen_sample_add_xml
lib/xmlrpc-c-1.06.35/examples/query-meerkat
lib/xmlrpc-c-1.06.35/examples/synch_client
lib/xmlrpc-c-1.06.35/examples/xmlrpc_amconfig.h
lib/xmlrpc-c-1.06.35/examples/xmlrpc_asynch_client
lib/xmlrpc-c-1.06.35/examples/xmlrpc_inetd_server
lib/xmlrpc-c-1.06.35/examples/xmlrpc_loop_server
lib/xmlrpc-c-1.06.35/examples/xmlrpc_sample_add_client
lib/xmlrpc-c-1.06.35/examples/xmlrpc_sample_add_server
lib/xmlrpc-c-1.06.35/examples/xmlrpc_sample_add_server.cgi
lib/xmlrpc-c-1.06.35/examples/xmlrpc_server_validatee
lib/xmlrpc-c-1.06.35/examples/xmlrpc_socket_server

*.o

lib/openssl-0.9.8k/crypto/aes/lib
lib/openssl-0.9.8k/crypto/asn1/lib
lib/openssl-0.9.8k/crypto/bf/lib
lib/openssl-0.9.8k/crypto/bio/lib
lib/openssl-0.9.8k/crypto/bn/lib
lib/openssl-0.9.8k/crypto/buffer/lib
lib/openssl-0.9.8k/crypto/buildinf.h
lib/openssl-0.9.8k/crypto/cast/lib
lib/openssl-0.9.8k/crypto/comp/lib
lib/openssl-0.9.8k/crypto/conf/lib
lib/openssl-0.9.8k/crypto/des/lib
lib/openssl-0.9.8k/crypto/dh/lib
lib/openssl-0.9.8k/crypto/dsa/lib
lib/openssl-0.9.8k/crypto/dso/lib
lib/openssl-0.9.8k/crypto/ec/lib
lib/openssl-0.9.8k/crypto/ecdh/lib
lib/openssl-0.9.8k/crypto/ecdsa/lib
lib/openssl-0.9.8k/crypto/engine/lib
lib/openssl-0.9.8k/crypto/err/lib
lib/openssl-0.9.8k/crypto/evp/lib
lib/openssl-0.9.8k/crypto/hmac/lib
lib/openssl-0.9.8k/crypto/idea/lib
lib/openssl-0.9.8k/crypto/krb5/lib
lib/openssl-0.9.8k/crypto/lhash/lib
lib/openssl-0.9.8k/crypto/lib
lib/openssl-0.9.8k/crypto/md2/lib
lib/openssl-0.9.8k/crypto/md4/lib
lib/openssl-0.9.8k/crypto/md5/lib
lib/openssl-0.9.8k/crypto/objects/lib
lib/openssl-0.9.8k/crypto/ocsp/lib
lib/openssl-0.9.8k/crypto/pem/lib
lib/openssl-0.9.8k/crypto/pkcs12/lib
lib/openssl-0.9.8k/crypto/pkcs7/lib
lib/openssl-0.9.8k/crypto/pqueue/lib
lib/openssl-0.9.8k/crypto/rand/lib
lib/openssl-0.9.8k/crypto/rc2/lib
lib/openssl-0.9.8k/crypto/rc4/lib
lib/openssl-0.9.8k/crypto/ripemd/lib
lib/openssl-0.9.8k/crypto/rsa/lib
lib/openssl-0.9.8k/crypto/sha/lib
lib/openssl-0.9.8k/crypto/stack/lib
lib/openssl-0.9.8k/crypto/store/lib
lib/openssl-0.9.8k/crypto/txt_db/lib
lib/openssl-0.9.8k/crypto/ui/lib
lib/openssl-0.9.8k/crypto/x509/lib
lib/openssl-0.9.8k/crypto/x509v3/lib
lib/openssl-0.9.8k/libcrypto.pc
lib/openssl-0.9.8k/libssl.pc
lib/openssl-0.9.8k/openssl.pc
*.o
*.a
*.lo
*.la
*.lai
lib/xmlrpc-c-1.06.35/**/blddir
lib/xmlrpc-c-1.06.35/**/srcdir
lib/xmlrpc-c-1.06.35/Makefile.config
lib/xmlrpc-c-1.06.35/config.log
lib/xmlrpc-c-1.06.35/config.status
lib/xmlrpc-c-1.06.35/include/xmlrpc-c/config.h
lib/xmlrpc-c-1.06.35/lib/curl_transport/version.h
lib/xmlrpc-c-1.06.35/lib/expat/gennmtab/gennmtab
lib/xmlrpc-c-1.06.35/lib/expat/xmltok/nametab.h
lib/xmlrpc-c-1.06.35/libtool
lib/xmlrpc-c-1.06.35/stamp-h
lib/xmlrpc-c-1.06.35/tools/xml-rpc-api2cpp/xml-rpc-api2cpp
lib/xmlrpc-c-1.06.35/tools/xmlrpc/config.h
lib/xmlrpc-c-1.06.35/tools/xmlrpc/xmlrpc
lib/xmlrpc-c-1.06.35/tools/xmlrpc_transport/config.h
lib/xmlrpc-c-1.06.35/tools/xmlrpc_transport/xmlrpc_transport
lib/xmlrpc-c-1.06.35/transport_config.h
lib/xmlrpc-c-1.06.35/xmlrpc-c-config
lib/xmlrpc-c-1.06.35/xmlrpc-c-config.test
lib/xmlrpc-c-1.06.35/xmlrpc_amconfig.h
lib/xmlrpc-c-1.06.35/xmlrpc_config.h
lib/xmlrpc-c-1.06.35/examples/auth_client
lib/xmlrpc-c-1.06.35/examples/config.h
lib/xmlrpc-c-1.06.35/examples/cpp/meerkat-app-list
lib/xmlrpc-c-1.06.35/examples/cpp/sample_add_client_complex
lib/xmlrpc-c-1.06.35/examples/cpp/xmlrpc_inetd_server
lib/xmlrpc-c-1.06.35/examples/cpp/xmlrpc_loop_server
lib/xmlrpc-c-1.06.35/examples/cpp/xmlrpc_sample_add_client
lib/xmlrpc-c-1.06.35/examples/cpp/xmlrpc_sample_add_server
lib/xmlrpc-c-1.06.35/examples/gen_sample_add_xml
lib/xmlrpc-c-1.06.35/examples/query-meerkat
lib/xmlrpc-c-1.06.35/examples/synch_client
lib/xmlrpc-c-1.06.35/examples/xmlrpc_amconfig.h
lib/xmlrpc-c-1.06.35/examples/xmlrpc_asynch_client
lib/xmlrpc-c-1.06.35/examples/xmlrpc_inetd_server
lib/xmlrpc-c-1.06.35/examples/xmlrpc_loop_server
lib/xmlrpc-c-1.06.35/examples/xmlrpc_sample_add_client
lib/xmlrpc-c-1.06.35/examples/xmlrpc_sample_add_server
lib/xmlrpc-c-1.06.35/examples/xmlrpc_sample_add_server.cgi
lib/xmlrpc-c-1.06.35/examples/xmlrpc_server_validatee
lib/xmlrpc-c-1.06.35/examples/xmlrpc_socket_server