# use glob syntax.
syntax: glob

ide
.DS_Store
*.exp
*.pdb
*.ilk
*.obj
*.tmp
*.bak
*.bk
*.opt
*.plg
*.pyc
*.lo
*.a
*.la
*.lai
*.orig
*.cmake
.pydevproject
.settings
.csettings
pg
lang/python/build
Makefile
CMakeFiles
CMakeCache.txt
bin
nbproject
.project
.cproject
*.o
*.lo
*.lai
