[database]
dialect=postgresql
url=dbname=dbmaintain_test user=postgres
scripts_table=dbmaintain_scripts_settings
preserved_objects=preserved_objects

[scripts]
location=scripts
extensions.sql=database
extensions.py =python

[python-runner]
executable=`which python`  # use /usr/local/bin/python script_path to run
#executable= #use /path/to/script to run

[dbmaintain_scripts_settings]
baseline.revision=
autoCreateDbMaintainScriptsTable=false
executedScriptsTableName=dbmaintain_scripts
fileNameColumnName=file_name
fileNameColumnSize=150
fileLastModifiedAtColumnName=file_last_modified_at
checksumColumnName=checksum
checksumColumnSize=50
executedAtColumnName=executed_at
executedAtColumnSize=20
succeededColumnName=succeeded

[preserved_objects]
schemas=
tables=
views=
materializedViews=
synonyms=
sequences=
data_in_schemas=
data_in_tables=
