[database]
dialect=postgres
url=dbname=db3 user=ms password=ms
baseline.revision=1

preserve.schemas=
preserve.tables=
preserve.views=
preserve.functions=
preserve.materialized_views=
preserve.synonyms=
preserve.sequences=
preserve.data_only.schemas=
preserve.data_only.tables=

[executedScripts]
databaseName=database
tableName=dbmaintain_scripts
autoCreateTable=false
scriptNoColumn=script_no
scriptNameColumn=script_name
scriptNameColumnSize=150
lastModifiedColumn=file_last_modified_at
checksumColumn=checksum
executedAtColumn=executed_at
executedStatusColumn=succeeded

[scripts]
location=scripts/dev
extensions.sql=database
extensions.ddl=database
extensions.py =python

[python-runner]
executable=`which python`
#executable= #use /path/to/script to run
