[database]
dialect=postgres
url=dbname=db3 user=ms password=ms
preserved_objects=preserved_objects
baseline.revision=1

[executedScripts]
databaseName=database
tableName=dbmaintain_scripts
autoCreateTable=false
scriptNoColumn=script_no
scriptNameColumn=file_name
scriptNameColumnSize=150
lastModifiedColumn=file_last_modified_at
checksumColumn=checksum
checksumColumnSize=50
executedAtColumn=executed_at
executedAtColumnSize=20
executedStatusColumn=succeeded

[scripts]
location=scripts/dev
extensions.sql=database
extensions.ddl=database
extensions.py =python

[python-runner]
executable=`which python`
#executable= #use /path/to/script to run

[preserved_objects]
#schemas=
#tables=
#views=
#materializedViews=
#synonyms=
#sequences=
#data_in_schemas=
#data_in_tables=
